.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

.footer {
  background-color: #000000;
  color: #fff;
  padding: 1rem;
  bottom: 0;
  height: 50px;
  text-align: center;
  z-index: 1000;
}

.content {
  flex: 1;
}
